In [1]:
import numpy as np
import pandas as pd
import yt_dlp
from yt_dlp.utils import DownloadError

## Dataset

### Collection

In [15]:
collection = pd.read_csv('metadata/Collection_Canonicals.csv', encoding='ISO-8859-1')

In [16]:
songs.head()

,Song ID,Title,Artist,Original artist,Canonical,Class label
0,1,One hundred years,The Cure,The Cure,YES,100years
1,4,10:15 saturday night,The Cure,The Cure,YES,1015sat
2,7,Seventeen seconds,The Cure,The Cure,YES,17secs
3,14,Dos gardenias,Antonio Machin,Bobby Capo,YES,2gardeni
4,15,Six different ways,The Cure,The Cure,YES,6different

### Queries

In [17]:
queries = pd.read_csv('metadata/Queries.csv', encoding='ISO-8859-1')

In [18]:
queries.head()

,Filename,Query ID,Song ID,Title,Original artist,Class label
0,q1.wav,q1,1118,Mother natures son,The Beatles,mothernat
1,q2.wav,q2,1438,Scarborough fair,Unknown,scarborou
2,q3.wav,q3,1546,Stairway to heaven,Led Zeppelin,stairway2h
3,q4.wav,q4,1579,Strawberry fields forever,The Beatles,strawberry
4,q5.wav,q5,1808,When I am sixty four,The Beatles,whenim64

## Download collection

- Use `Title` and `Artist` from `collection` dataframe to download the song

In [2]:
def download_audio(save_name, title, artist, output_folder="downloads"):
    # Define query with title and artist name
    search_query = f"{title} {artist} audio"
    ydl_opts = {
        'format': 'bestaudio/best',
        'outtmpl': f'{output_folder}/{save_name}.%(ext)s', # Save the audio with song id as the filename
        'postprocessors': [{
            'key': 'FFmpegExtractAudio',
            'preferredcodec': 'mp3',
            'preferredquality': '192',
        }],
        'quiet': False,
    }

    # Download the song from youtube
    with yt_dlp.YoutubeDL(ydl_opts) as ydl:
        try:
            ydl.download([f"ytsearch:{search_query}"])
        except yt_dlp.utils.DownloadError:
            print(f"Failed to download: {title} by {artist}")

In [ ]:
for index, row in df.iterrows():
    song_id = row["Song ID"]
    song_title = row["Title"]
    artist = row["Artist"]
    
    download_audio(song_id, song_title, artist)